.task-list_popup {
    position: fixed;
    width: 300px;
    background: #efefef;
    border: solid 1px #CCC;
    border-radius: 4px;
    padding: 24px;
    top: 50%;
    left: 35%;
}

.task-list_new-task {
    display: flex;
    justify-content: center;
}